*{
    margin: 0;
    padding: 0;
    font-family:'Work Sans', sans-serif;
}
/* head section */
.banner{
    background-image: url(images/banner/banner3.png);
    background-position:cover;
    background-size: cover;
    width: 1025px;
    height: 90vh;
    background-repeat: no-repeat;
    text-align: right;
}
.banner-title{
font-weight: 700;
font-size: 40px;
color: #ffff;
margin-right:75px;
padding-top: 140px;
}
.banner-description{
    font-weight: 400;
    font-size: 15px;
    color: #ffff;
    margin-right:75px;
    padding-top: 24px;
}
.header-btn{
    background: #FFFF;
    font-weight: 600;
    font-size: 16px;
    margin-right:75px;
    margin-top: 32px;
    color: #005FAC;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #005FAC;
 
}
/* close head section 
=====================================================*/

/* My-failures-section here..... */
.My-failures-section{
display: flex;
text-align: center;
margin-top: 100px;
gap: 85px;

}
.person-img{
    width: 400px;
    height: 550px;
    margin-left: 100px;

}
.My-failure-heading{
    font-weight: 600;
    font-size: 35px;
    color: #151414;
    padding-top: 150px;
    text-align: left;

}
.paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 25px;
    margin-right: 100px;
    text-align: left;
}
.paragraph-line{
    font-weight: 400;
    font-size: 14px;
    color: #444343;
    margin-top: 10px;
    margin-right: 100px;
    text-align: left;  
}
.paragraph-line:hover{
    color: #16D887;
}
span.check-mark{
  color: #16D887;
}
/* My-failures-section close 
=================================================*/

